* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
 margin-left: 24px;
 margin-right: 0;
}
#hero{
    display:flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#buttons_style button
{
padding: 10px 24px;
border-radius: 20px;
color: blue;
background-color: rgb(250, 249, 248);
border-color: blue;
}
#btn_space{
    padding: 0.5rem;
}
.ash
{
    color: dimgrey;
}
#buttons_style1 button
{
    background-color: blue;
    color: rgb(254, 255, 255);
}
#name_title{
    padding: 0;
    margin-left: 1rem;
}
#btn_experience{
    padding-top: 2rem;
}
#certs{
    padding-top: 1rem;
    background-color: #e9e9d8;
}
#Experience{
    padding-top: 1rem;
    background-color: #d8d8d2;
}
#what_i_do p{
    background-color: rgb(223, 223, 245);
}
#picture_section{
    background-color: rgb(203, 229, 247);
}
#personal_info{
    padding: 1rem;
}
#holla_btn{
 padding-top: 1rem;
}
#what_i_do{
    padding-top: 1rem
}
.ash p{
    padding-bottom: 1rem;
}